*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --background: #EFF0F3;
    --black: #0D0D0D;
    --orange: #F0944f ;
    --white: white;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    position: relative;
}
.navBar{
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    transition: 0.2s;
    position: fixed;
    z-index: 100;
}
.logo{
    display: flex;
    align-items: center;
}
.fa-user-tie{
    font-size: 25px;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.logo h2{
    font-size: 25px;
    transition: 0.2s;
    color: var(--black);
}
.menuList{
    flex: 1;
    text-align: right;
    position: relative;
}
.menuList li{
display: inline-block;
margin-right: 50px;
transition: 0.2s;
}
.menuList li a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
}
.menuList li::after{
    content: "";
    width: 100%;
    background: var(--orange);
    height: 2.5px;
    display: block;
    opacity: 0;
    transition: opacity 0.3s;
}
.menuList li:hover::after{
    opacity: 1;
}
.menuList li:hover{
    transform: translateY(-5px);
}
.navBar .fa-bars{
    font-size: 25px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

/* Hero Content */
.hero{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-40%);
}
.textContent{
    width: 800px;
    text-align: center;
    position: relative;
}
.textContent h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 120px;
    font-size: 45px;
    transition: 0.2s;
}
.textContent p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 100px;
    transition: 0.2s;

}
.textContent a{
    text-decoration: none;
    color: var(--black);
    background-color: var(--orange);
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 3px;
    font-weight: 500;
    transition: 0.2s;

}
.textContent a:hover{
    background-color: hsl(26, 84%, 53%);
}

/* Social DIV */
.social{
    width: 60px;
    height: 250px;
    background: var(--white);
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-40%);
    transition: 0.2s;  
}
.socialLinks a{
    text-decoration: none;
}
.socialLinks a i{
    font-size: 26px;
    padding: 20px 10px ;
    transition: 0.2s;
    color: var(--black);
}
.socialLinks a i:hover{
    transform: translateX(5px);
}
.fa-facebook:hover{
    color: blue;
}
.fa-instagram:hover{
    color: rgb(233, 73, 233);
}
.fa-whatsapp:hover{
    color: greenyellow;
}


/* About Section */
.about{
    width: 100%;
    min-height: 60vh; 
    margin-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-bottom: 80px;
    transition: 0.2s;
}
.title::after{
    content: '';
    background: var(--orange);
    width: 180px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10%;
}
.cards{
    width: 160px;
    height: 160px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.cards:hover{
    transform: scale(1.1);
    box-shadow: none;
}
.cards img{
    width: 100%;
    transition: 0.5s;
}
.cards img:hover{
    transform: translateY(-30px);
}

/* Project Section */

.projects{
    padding-top:50px ;
    width: 100%;
    min-height: 60vh;
    background-color: var(--background);
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.2s;
    padding-bottom: 50px;
}
.col-4{
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 20%;
    margin: 20px;
    transition: 0.4s;
    border-radius:10px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2) ;
    cursor: pointer;   
}
.col-4:hover{
    box-shadow: none;
    transform: scale(1.05);
}
.imageContainer{
    max-width: 100%;
    background-color: gray;
    border-radius:10px;
    height: 200px;
    margin-bottom: 20px;
    transition: 0.4s;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    border-radius:10px;
}
.imageContainer:hover{
    transform: translateY(-5px);
}
.col-4 p{
    font-size: 16px;
    margin-bottom: 20px;
    transition: 0.2s;
    padding: 0 5px;
}

.col-4 a{
    margin: 0 auto ;
    width: 40%;
    padding: 10px 15px;
    background-color: var(--orange);
    margin-bottom: 20px;
    margin-top: auto;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.2s;
    color: var(--black);
}
.col-4 a:hover{
    background-color: hsl(26, 84%, 53%);
}


/* Contact Section */

.contact{
    width: 100%;
    min-height: 80vh;
    padding-top: 80px;
    padding-bottom: 80px;
}
.contact-container{
    width: 1200px;
    min-height: 700px;
    margin: 0 auto;
    transition: 0.2s;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2) ;
    overflow: hidden;
    border-radius: 10px;
}

/* Input Contact Side */
.input-contact{
    width: 100%;
    min-height: 700px;
    text-align: center;
    padding: 5%;
    transition: 0.2s;
}
.input-contact h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
    margin-bottom: 20px;

}
.contact-inputs{  
    width: 45%;
    padding: 15px;
    margin: 20px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
.input-contact input:focus{
    border: 1px solid var(--orange);
    background-color: var(--background);
}
.textarea{
    width: 94%;
    resize: none;
    padding: 15px;
    font-size: 15px;
    outline: none;
    height: 200px;
    transition: 0.2s;
    margin-top: 20px;
}
.textarea:focus{
    border: 1px solid var(--orange);
    background-color: var(--background);
}

.btn{
    padding: 15px 30px;
    font-size: 15px;
    background-color: var(--orange);
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 50px;
}
.btn:hover{
    background-color: hsl(26, 84%, 53%);

    transform: translateY(-20px);
}

/* Footer Section */
.footer{
    width: 100%;
    min-height: 35vh ;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-col{
    width: 300px;
    height: 100%;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    transition: 0.2s;

}
.footer-col p{
    font-size: 17px;
    color:white;
    margin: 15px;
    transition: 0.2s;
}
.footer-col p:hover{
    transform: translateX(5px);
}
.footer-col a{
    text-decoration: none;
}
.footer-col .gray{
    color: gray;
}


/*! Scroll Animations */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

/* Media Screen */

@media (max-width:1500px){
    .textContent h1{
        font-size: 40px;
    }
    .textContent p{
        font-size: 20px;
    }
    .textContent a{
        font-size: 20px;
    }
    .title{
        font-size: 55px;
    }
    .contact-container{
        width: 1000px;
    }
    .cards{
        width: 150px;
        height: 150px;
    }
   .col-4{
    flex-basis: 40%;
   }

}
@media (max-width:1000px){
    .navBar{
        padding: 10px 5%;
    }
    .menuList li{
        margin-right: 35px;
    }
    .fa-user-tie{
        font-size: 25px;
    }
    .logo h2{
        font-size: 25px;
    }
    .menuList li a{
        font-size: 17px;
    }
    .socialLinks a i{
        font-size: 25px;
        padding: 18px 8px ;
    }
    .social{
        width: 50px;
        height: 190px;
    }
    .title{
        font-size: 45px;
    }
    .title::after{
        width: 150px;
    }
    .cards{
        width: 110px;
        height: 110px;
    }
    .contact-container{
        width: 800px;
        height: 650px;
    }
    .contact-inputs{
        width: 45%;
        padding: 15px;
        margin: 15px;
        font-size: 15px;
    }
    .textarea{
        font-size: 15px;
    }
    .col-4{
        min-width: 350px;
        flex-basis:70% ;
    }

}
@media (max-width:800px){
    .textContent{
        max-width: 600px;
    }
    .textContent h1{
        font-size: 30px;
        line-height: 60px;
    }
    .textContent p{
        font-size: 16px;
        margin-bottom: 70px;
    }
    .textContent a{
        font-size: 15px;
        padding: 12px 25px;
    }
    .social{
        position: absolute;
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
        top:100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    .socialLinks{
        margin: 0 auto;
    }
    .socialLinks a i:hover{
        transform: translateY(-5px);
    }
    .contact-container{
        width: 600px;
        height: 580px;
    }
    .contact-inputs{
        margin: 10px;
    }
    .textarea{
        margin-top: 10px;
    }
    .footer-col{
        text-align: center;
    }
}
@media (max-width:750px){
    .navBar{
        padding: 10px 2%;
    }
    .menuList li{
        margin-right: 25px;
    }
    .fa-user-tie{
        font-size: 22px;
    }
    .logo h2{
        font-size: 22px;
    }
    .menuList li a{
        font-size: 15px;
    }
}
@media (max-width:600px){
    .navBar{
        position: fixed;
    }
    .logo h2{
        font-size: 18px;
    }
    .logo .fa-user-tie{
        font-size: 18px;
    }
    .navBar .fa-bars{
        display: block;
    }
    .menuList{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s;
        z-index: 1;
    }
    .menuList li{
        display: block;
        margin: 25px 0;
    }
    .menuList li::after{
        width: 0;
    }
    .showMenu{
        max-height: 200px;
    }
    .textContent{
        max-width: 320px;
    }
    .textContent h1{
        font-size: 20px;
        line-height: 40px;
    }
    .textContent p{
        font-size: 15px;
        margin-bottom: 50px;
    }
    .textContent a{
        font-size: 12px;
        padding: 10px 20px;
    }
    .cards{
        width: 100px;
        height: 100px;
    }
    .title{
        font-size: 35px;
        margin-bottom: 60px;
    }
    .col-4{
        min-width: 300px;
        min-height: 300px;
        flex-basis: 100%;
    }
    .imageContainer{
        max-width: 100%;
    }
    .col-4 p{
        font-size: 15px;
    }
    .col-4 a{
        font-size: 15px;
        padding: 8px 16px;
    }
    .contact-container{
        width: 320px;
    }   
    .contact-inputs{
        width: 94%;
    }
    .btn{
        padding: 10px 20px;
        margin-top: 35px;
    }
    .footer-col{
        width: 100%;
        align-items: center;
    }
    .footer-col .row{
        padding: 0 3%;
    }
    .footer-col p{
        font-size: 14px;
    }
}